image: postgres:15

services:
  - postgres:15

variables:
  POSTGRES_DB: project_db
  POSTGRES_USER: project_user
  POSTGRES_PASSWORD: project_pass
  PGHOST: postgres
  PGPORT: 5432

stages:
  - init

init_db:
  stage: init
  script:
    - echo "Waiting for PostgreSQL..."
    - sleep 10
    - psql -v ON_ERROR_STOP=1 -U "$POSTGRES_USER" -d "$POSTGRES_DB" -f Script_tables.sql
    - psql -v ON_ERROR_STOP=1 -U "$POSTGRES_USER" -d "$POSTGRES_DB" -f Script_check.sql
    - psql -v ON_ERROR_STOP=1 -U "$POSTGRES_USER" -d "$POSTGRES_DB" -f Script_index.sql
    - psql -v ON_ERROR_STOP=1 -U "$POSTGRES_USER" -d "$POSTGRES_DB" -f Script_procedure.sql
    - psql -v ON_ERROR_STOP=1 -U "$POSTGRES_USER" -d "$POSTGRES_DB" -f Script_view.sql
    - psql -v ON_ERROR_STOP=1 -U "$POSTGRES_USER" -d "$POSTGRES_DB" -f Script_insert.sql
    - psql -v ON_ERROR_STOP=1 -U "$POSTGRES_USER" -d "$POSTGRES_DB" -f Script_request.sql
